<div class="navigation-container">
    <div class="navigation">
        <a
            href="/#"
            class="nav-item logo"
        >
            OpalBot <!-- DONUT TRNSLATE -->
        </a>
        <a
            href="/invite"
            title="<%= $`add-title` %>"
            target="_blank"
            rel="noopener"
            class="nav-item add"
        >
            <%= $`add-me` %>
        </a>
        <div
            class="nav-item hamburger"
        >
            <span></span>
            <span></span>
            <span></span>
        </div>
        <% if (!locals.logged_in) { %>
            <a
                href="/login"
                title="<%= $`login-title` %>"
                class="nav-item login"
            >
                <%= $`login` %>
            </a>
        <% }  else { %>
            <a
                href="/dashboard"
                class="nav-item current-user"
            >
                <img
                    src="<%= user.avatar_url %>?size=32"
                    class="avatar"
                />
                <span class="username"><%= user.username %></span>
            </a>
        <% } %>
        <a
            href="/support"
            title="<%= $`support-title` %>"
            target="_blank"
            rel="noopener"
            class="nav-item support"
        >
            <%= $`support` %>
        </a>
        <a
            href="/commands"
            title="<%= $`commands-title` %>"
            class="nav-item commands"
        >
            <%= $`commands` %>
        </a>
        <a
            title="<%= $`about-title` %>"
            href="/about"
            class="nav-item about"
        >
            <%= $`about` %>
        </a>
    </div>
    <div class="dropdown-list">
        <% if (locals.logged_in) { %>
            <a
                href="/dashboard"
                title="<%= $`dashboard-title` %>"
                class="dashboard"
            >
                <%= $`dashboard` %>
            </a>
        <% } %>
        <a
            title="<%= $`about-title` %>"
            href="/about"
            class="about"
        >
            <%= $`about` %>
        </a>
        <a
            href="/commands"
            title="<%= $`commands-title` %>"
            class="commands"
        >
            <%= $`commands` %>
        </a>
        <a
            href="/support"
            title="<%= $`support-title` %>"
            target="_blank"
            rel="noopener"
            class="support"
        >
            <%= $`support` %>
        </a>
        <% if (!locals.logged_in) { %>
            <a
                href="/login"
                title="<%= $`login-title` %>"
                class="login"
            >
                <%= $`login` %>
            </a>
        <% } else { %>
            <a
                href="/logout"
                title="<%= $`logout-title` %>"
                class="nav-item logout"
            >
                <img
                    src="/img/logout.png"
                    class="logout-icon"
                />
            </a>
        <% } %>
    </div>
    <div class="user-dropdown">
        <span class="dropdown-arrow"></span>
        <div class="user-info">
            <img class="avatar" src="<%= user.avatar_url %>?size=32">
            <div class="stats">
                <div class="username"><%= user.username %></div>
                <div class="mutual-guilds"><%= $('mutual-guilds', user.mutual_guilds.length)%></div>
            </div>
        </div>
        <a
            href="/dashboard"
            class="ud-item dashboard"
        >
            <%= $`dashboard` %>
        </a>
        <a
            href="/logout"
            class="ud-item signout"
        >
            <%= $`sign-out` %>
        </a>
    </div>
</div>