<div class="navigation-container">
    <div class="navigation">
        <a
            href="/#"
            class="nav-item logo"
        >
            OpalBot <!-- DONUT TRNSLATE -->
        </a>
        <a
            href="https://discordapp.com/oauth2/authorize?client_id=<%= CLIENT_ID %>&scope=bot&permissions=8206"
            title="<%= $`add-title` %>"
            target="_blank"
            rel="noopener"
            class="nav-item add"
        >
            <%= $`add-me` %>
        </a>
        <div
            class="nav-item hamburger"
        >
            <span></span>
            <span></span>
            <span></span>
        </div>
        <% if (!locals.logged_in) { %>
            <a
                href="/login"
                title="<%= $`login-title` %>"
                class="nav-item login"
            >
                <%= $`login` %>
            </a>
        <% }  else { %>
            <a
                href="/dashboard"
                title="<%= $`dashboard-title` %>"
                class="nav-item dashboard"
            >
                <img
                    src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=32"
                    class="avatar"
                />
                <span class="username"><%= user.username %></span>
            </a>
        <% } %>
        <a
            href="https://discord.gg/<%= SUPPORT_INVITE %>"
            title="<%= $`support-title` %>"
            target="_blank"
            rel="noopener"
            class="nav-item support"
        >
            <%= $`support` %>
        </a>
        <a
            href="/commands"
            title="<%= $`commands-title` %>"
            class="nav-item commands"
        >
            <%= $`commands` %>
        </a>
        <a
            title="<%= $`about-title` %>"
            href="/about"
            class="nav-item about"
        >
            <%= $`about` %>
        </a>
    </div>
    <div class="dropdown-list">
        <a
            title="<%= $`about-title` %>"
            href="/about"
            class="about"
        >
            <%= $`about` %>
        </a>
        <a
            href="/commands"
            title="<%= $`commands-title` %>"
            class="commands"
        >
            <%= $`commands` %>
        </a>
        <a
            href="https://discord.gg/<%= SUPPORT_INVITE %>"
            title="<%= $`support-title` %>"
            target="_blank"
            rel="noopener"
            class="support"
        >
            <%= $`support` %>
        </a>
        <% if (!locals.logged_in) { %>
            <a
                href="/login"
                title="<%= $`login-title` %>"
                class="login"
            >
                <%= $`login` %>
            </a>
        <% }  else { %>
            <a
                href="/logout"
                title="<%= $`logout-title` %>"
                class="nav-item logout"
            >
                <img
                    src="/img/logout.png"
                    class="logout-icon"
                />
            </a>
        <% } %>
    </div>
</div>