<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <title>OpalBot! About</title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/navigation.ejs %>
        <div class="content">
            <div class="author">
                <img src="/img/doru.png" title="Dorumin#0969" class="avatar">
                <div class="caption">I made this.</div>
            </div>
            <h2><%= $`why-bot` %></h2>
            <%- $`why-bot-content` %>
            <% for (var friend of data[lang].friends) {%>
                <div class="friend">
                    <img class="avatar" src="<%= friend.image %>" alt="<%= friend.name %>">
                    <div class="context">
                        <div class="username"><%= friend.name %></div>
                        <div class="caption"><%= friend.caption %></div>
                    </div>
                </div>
            <% } %>
            <div class="closure"><%= $`closure` %></div>
        </div>
        <% include ../partials/footer.ejs %>
        <script type="text/javascript" src="/js/main.js" async></script>
    </body>
</html>