<!DOCTYPE html>
<html>
    <head>
        <title>OpalBot! <%= $`cmds` %></title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/navigation.ejs %>
        <div class="content">
            <% for (let category in commands) { %>
                <h2><%= data[lang][category] %></h2>
                <%
                    for (let cmd in commands[category]) {
                    let command = commands[category][cmd];
                %>
                    <div class="command">
                        <div class="header">
                            <div class="name"><b><%= command.name %></b><span class="desc"><%= command.desc %></span></div>
                        </div>
                        <div class="def">
                            <div class="aliases"><b><%= $`aliases` %>: </b><span><%= command.aliases.join(', ') %></span></div>
                            <div class="usage"><b><%= $`usage` %>: </b><span><%- format(command.usage) %></span></span>
                            </div><br>
                            <div class="description"><%= command.description %></div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <% include ../partials/footer.ejs %>
        <script type="text/javascript" src="/js/init.js" async></script>
    </body>
</html>