<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="navigation"></div>
        <div class="content">
            <% for (let category in commands) { %>
                <h2><%= data[lang][category] %></h2>
                <% 
                    for (let cmd in commands[category]) { 
                    let command = commands[category][cmd];
                %>
                    <div class="command">
                        <div class="header">
                            <div class="name"><b><%= command.name %></b><span class="desc"><%= command.desc %></span></div>
                        </div>
                        <div class="def">
                            <div class="aliases"><b><%= data[lang].aliases %>: </b><span><%= command.aliases.join(', ') %></span></div>
                            <div class="usage"><b><%= data[lang].usage %>: </b><span><%= format(command.usage) %></span></span>
                            </div><br>
                            <div class="description"><%= command.description %></div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <script type="text/javascript" src="js/init.js"></script>
    </body>
</html>